.youtube-container {
    display: flex;
    align-items: center;
    justify-content:center ;
    flex-direction: column;
}

.home-page {
    min-height: 100vh;
}

.about {
    border: 1px solid black;
    margin-top: 4rem;
    text-align: center;
    padding: 4rem;

}

.home-content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 10px;

}

.page-title {
    display: flex;
    align-items: center;
    gap: 10rem;
    
}