.reg-page{
    min-height: 100vh;
    padding: 2rem;
}

.reg-container{
    display: flex;
    align-items: center;
    justify-content:center ;
    flex-direction: column;
    gap: 1rem;
    margin-top: 10rem;

}

.reg-container input{
    padding: 0.25rem;

}

.reg-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem;
}

.reg-btn-1{
    background-color: #371AEE;
    color: white;
    padding: 0.5rem 1rem;

}